{% extends 'base.html' %}

{% block body_class %}nominate{% endblock %}

{% block hero %}
    {% load page_tags %}
    {% get_page 'nominate/' as page %}
    {% include 'includes/subnav.html' with subheader=page.name %}
{% endblock %}

{% block content %}
    {% load page_tags %}
    {% get_page 'nominate/' as page %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ page.content|safe }}
            </div>
            <div class="col-md-4">
                {% if page.page_image %}
                    <img src="{{ page.page_image.url }}" />
                {% endif %}
            </div>
        </div>
    </div>
    <form method="post" action="{% url 'nominate' %}" class="nominee-form">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
        <div class="file_upload">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.video.errors }}
                            <label for="{{ form.video.id_for_label }}">Upload video</label>
                            <input id="id_video" maxlength="255" name="video" type="file">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>or</p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.description.errors }}
                            <label for="{{ form.description.id_for_label }}">Description:</label>
                            <textarea class="form-control" cols="40" id="id_description" name="description" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.subject.errors }}
                    <label for="{{ form.full_name.id_for_label }}">Full name:</label>
                    <input class="form-control" id="id_full_name" maxlength="255" name="full_name" type="text">
                </div>
                <div class="form-group">
                    {{ form.message.errors }}
                    <label for="{{ form.email.id_for_label }}">Your email address:</label>
                    <input class="form-control" id="id_email" maxlength="255" name="email" type="email">
                </div>
                <div class="form-group">
                    {{ form.sender.errors }}
                    <label for="{{ form.message.id_for_label }}">Your message:</label>
                    <textarea class="form-control" cols="40" id="id_message" name="message" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </form>
{% endblock content %}
