{% extends 'base.html' %}

{% block body_class %}contact{% endblock %}

{% block hero %}
    {% include 'includes/subnav.html' with subheader='Nominate a Radiant Human' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                To nominate a radiant person in your life...
            </div>
            <div class="col-md-4">
                IMAGE GOES HERE
            </div>
        </div>
        <div class="nominee-form">
            <form method="post" action="{% url 'contact-us' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.subject.errors }}
                    <label for="{{ form.full_name.id_for_label }}">Full name:</label>
                    <input class="form-control" id="id_full_name" maxlength="255" name="full_name" type="text">
                </div>
                <div class="form-group">
                    {{ form.message.errors }}
                    <label for="{{ form.email.id_for_label }}">Your email address:</label>
                    <input class="form-control" id="id_email" maxlength="255" name="email" type="email">
                </div>
                <div class="form-group">
                    {{ form.sender.errors }}
                    <label for="{{ form.message.id_for_label }}">Your message:</label>
                    <textarea class="form-control" cols="40" id="id_message" name="message" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
