{% extends 'base.html' %}

{% block body_class %}nominate{% endblock %}

{% block hero %}
    {% load page_tags %}
    {% get_page 'nominate/' as page %}
    {% include 'includes/subnav.html' with subheader=page.name %}
{% endblock %}

{% block content %}
    {% load page_tags %}
    {% get_page 'nominate/' as page %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ page.content|safe }}
            </div>
            <div class="col-md-4">
                {% if page.page_image %}
                    <img src="{{ page.page_image.url }}" />
                {% endif %}
            </div>
        </div>
    </div>
    <form method="post" action="{% url 'nominate' %}" class="nominee-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
        <div class="file_upload">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 flex-vertical">
                        <div class="form-group">
                            <label for="{{ form.video.id_for_label }}">Upload video</label>
                            {{ form.video.errors }}
                            <input id="id_video" maxlength="255" name="video" type="file">
                        </div>
                    </div>
                    <div class="col-md-4 flex-vertical flex-horizontal">
                        <p>or</p>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description:</label>
                            {{ form.description.errors }}
                            <textarea class="form-control" cols="40" id="id_description" name="description" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row extra-fields">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.radiant_nominee_name.id_for_label }}">Radiant Nominee Name</label>
                        {{ form.radiant_nominee_name.errors }}
                        <input class="form-control" id="id_radiant_nominee_name" maxlength="255" name="radiant_nominee_name" type="text">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.radiant_nominee_location.id_for_label }}">Radiant Nominee Location</label>
                        {{ form.radiant_nominee_location.errors }}
                        <input class="form-control" id="id_radiant_nominee_location" maxlength="255" name="radiant_nominee_location" type="text">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.your_name.id_for_label }}">Your Name</label>
                        {{ form.your_name.errors }}
                        <input class="form-control" id="id_your_name" maxlength="255" name="your_name" type="text">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.your_email.id_for_label }}">Your email</label>
                        {{ form.your_email.errors }}
                        <input class="form-control" id="id_your_email" maxlength="255" name="your_email" type="text">
                    </div>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
