/*
*   Site Styles
*/
body {
  background: rgb(0, 0, 0);
}
.navbar {
  background: black;
  color: white;

  a {
    color: white !important;
  }
}
.container {
  padding-top: 20px;
}
video {
  width:100%;
  //max-width:500px;
  //height:auto;
  //max-height: 800px;
  padding: 40px 0 80px 0;
}
.article {
  background: white;
  min-height: 400px;
}
.footer {
  color: white;
}
