<div class="social row">
    <div class="col-md-4">
        <div class="subscribe-wrapper" data-ng-controller="SubscribeCtrl as sb">
            <p class="text-center"><strong>Subscribe</strong></p>
            <form data-ng-submit="sb.subscribe()" class="subscribe-form" data-ng-hide="sb.subscribed" novalidate>
                <input type="email" data-ng-model="sb.email"  size="25" placeholder="Email" required>
                <i class="fa fa-check validation-ok"></i>
                <i class="fa fa-angle-right validation-pristine"></i>
                <br>
            </form>
            <p data-ng-class="[helper, {'helper-error': sb.helper_error}]">{$ sb.message $}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="centered">
            <p class="text-center"><strong>Follow us</strong></p>
            <p>
                <a target="_blank" href="https://www.facebook.com/theradiantproject/"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a target="_blank" href="https://twitter.com/radiant_project"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a target="_blank" href="https://www.instagram.com/radiantproject/"><i class="fa fa-instagram fa-3x"></i></a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="centered">
            <p class="text-center"><strong>Share</strong></p>
            <p>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&t={{ object.og_title }}"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a target="_blank" href="https://twitter.com/home?status={{ request.build_absolute_uri }}"><i class="fa fa-twitter-square fa-3x"></i></a>
            </p>
        </div>
    </div>
</div>

<div class="copyright">
    <p class="text-center wow slideInLeft">Built by <a href="http://www.rochapps.com">RochApps</a></p>
    <p class="text-center wow slideInRight">&copy; {% now 'Y' %} Radiant Project</p>
</div>
