<div class="social row">
    <div class="col-md-4">
        <div class="">
            <p class="text-center"><strong>Subscribe</strong></p>
            <p class="email-list">Email <i class="fa fa-angle-right fa-2x"></i> </p>

        </div>
    </div>
    <div class="col-md-4">
        <div class="centered">
            <p class="text-center"><strong>Follow us</strong></p>
            <p>
                <a href="https://www.facebook.com/theradiantproject/"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://twitter.com/radiant_project"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a href="https://www.instagram.com/radiantproject/"><i class="fa fa-instagram fa-3x"></i></a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="centered">
            <p class="text-center"><strong>Share</strong></p>
            <p>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&t={{ object.og_title }}"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://twitter.com/home?status={{ request.build_absolute_uri }}"><i class="fa fa-twitter-square fa-3x"></i></a>
            </p>
        </div>
    </div>
</div>

<div class="copyright">
    <p class="text-center">Built by <a href="http://www.rochapps.com">RochApps</a></p>
    <p class="text-center">&copy; {% now 'Y' %} Radiant Project</p>
</div>
