<footer id="main-footer" style="margin-top: 70px;"><div class="container nopadding-sm animate sequence">
    <!-- socials -->
    <div>
        <ul class="socials-list">
            <li><a href="https://www.facebook.com/theradiantproject"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="https://twitter.com/radiant_project"><i class="fa fa-twitter"></i>Twitter</a></li>
        </ul>
    </div>

    <!-- bottom menu -->
    <nav><ul id="menu-primary-menu-1" class="bottom-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361"><a href="http://radiantproject.com/">Home</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="http://radiantproject.com/about-me/">Radiant Humans</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="http://radiantproject.com/contact-me/">Contact Us</a></li></ul></nav>

    <!-- copyright -->
    <div>
    &copy; {% now 'Y' %}
    </div>

    </div>
</footer>
