<div class="row">
    <div class="col-md-4">
        <div id="outer-circle">
            <div class="social-icon"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></div>
            <div class="social-action">Something</div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="outer-circle">
            <div class="social-icon"><a href="https://www.facebook.com/theradiantproject"><i class="fa fa-facebook-square"></i></a></div>
            <div class="social-action">Like us</div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="outer-circle">
            <div class="social-icon"><a href="https://twitter.com/radiant_project"><i class="fa fa-twitter-square"></i></a></div>
            <div class="social-action">Follow us</div>
        </div>
    </div>
</div>
