<div class="row">
    <div class="col-md-3">
        <div class="outer-circle instagram">
            <div class="social-icon"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></div>
            <div class="social-action">Follow</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="outer-circle facebook">
            <div class="social-icon"><a href="https://www.facebook.com/theradiantproject"><i class="fa fa-facebook-square"></i></a></div>
            <div class="social-action">Like</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="outer-circle facebook">
            <div class="social-icon"><a href="https://www.facebook.com/theradiantproject"><i class="fa fa-facebook-square"></i></a></div>
            <div class="social-action">Share</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="outer-circle twitter">
            <div class="social-icon"><a href="https://twitter.com/radiant_project"><i class="fa fa-twitter-square"></i></a></div>
            <div class="social-action">Follow</div>
        </div>
    </div>
</div>
