{% extends 'base.html' %}

{% load profiles_tags %}
{% load static from staticfiles %}

{% block body_class %}about{% endblock %}

{% block extra-js %}
    <script src="{% static 'libs/parse-query.js' %}"></script>
    <script src="{% static 'js/bootstrap-youtube.js' %}"></script>
{% endblock %}

{% block hero %}
    {% include 'includes/subnav.html' with subheader=object.name %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 image-wrapper">
                {% if object.page_image %}
                    <img src="{{ object.page_image.url }}" />
                {% endif %}
            </div>
            <div class="col-md-8">
                {{ object.content|safe }}
            </div>
        </div>
    </div>
{% endblock content %}
