{% extends 'base.html' %}

{% load profiles_tags %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block body_class %}about{% endblock %}

{% block extra-js %}
    <script src="{% static 'libs/parse-query.js' %}"></script>
    <script src="{% static 'js/bootstrap-youtube.js' %}"></script>
{% endblock %}

{% block hero %}
    {% include 'includes/subnav.html' with subheader=object.name %}
{% endblock %}

{% block content %}
    <div class="cami-kate">
        <div class="container">
            <div class="row">
                <div class="col-md-5 image-wrapper">
                    {% if object.page_image %}
                        {% thumbnail object.page_image "457x458" as im %}
                            <img src="{{ im.url }}" />
                        {% endthumbnail %}
                    {% endif %}
                </div>
                <div class="col-md-7">
                    {{ object.content|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="rest-team">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Editors</h2>
                <div class="editor-pictures">
                    {% for editor in object.teammember_set.editors %}
                        {% if editor.thumbnail %}
                            {% thumbnail editor.thumbnail "400x400" crop="center" as im %}
                                {% if editor.website %}
                                    <a href="{{ editor.website }}">
                                        <img src="{{ im.url }}" />
                                    </a>
                                {% else %}
                                    <img src="{{ im.url }}" />
                                {% endif %}
                            {% endthumbnail %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 web-developer">
                    <h2>Web Developer</h2>
                    {% for developer in object.teammember_set.developers %}
                        {% if developer.thumbnail %}
                            {% thumbnail developer.thumbnail "400x400" crop="center" as im %}
                                {% if developer.website %}
                                    <a href="{{ developer.website }}">
                                        <img src="{{ im.url }}" />
                                    </a>
                                {% else %}
                                    <img src="{{ im.url }}" />
                                {% endif %}
                            {% endthumbnail %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 graphic-designer clearfix">
                    <h2>Graphic Designer</h2>
                    {% for designer in object.teammember_set.designers %}
                        {% if designer.thumbnail %}
                            {% thumbnail designer.thumbnail "400x400" crop="center" as im %}
                                {% if designer.website %}
                                    <a href="{{ designer.website }}">
                                        <img src="{{ im.url }}" />
                                    </a>
                                {% else %}
                                    <img src="{{ im.url }}" />
                                {% endif %}
                            {% endthumbnail %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
