{% extends 'base.html' %}

{% load profiles_tags %}
{% load static from staticfiles %}

{% block body_class %}homepage{% endblock %}

{% block extra-js %}
    <script src="{% static 'libs/parse-query.js' %}"></script>
    <script src="{% static 'js/bootstrap-youtube.js' %}"></script>
{% endblock %}

{% block hero %}
    <div id="youtube-wrapper" data-href="https://www.youtube.com/watch?v=TFZN1lMp5Hk">
        <div class="iframe-wrapper">

        </div>
        <div class="close">X</div>
    </div>
    <div class="video-wrapper" data-href="https://www.youtube.com/watch?v=TFZN1lMp5Hk">
        {% include 'includes/video.html' with object=object auto_play=True loop=True %}
    </div>
    <div class="play"><i class="fa fa-play-circle-o"></i> <br><span>View Trailer</span></div>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 article">
                <div class="article-inner-wrapper wow slideInLeft" data-wow-duration="2s">
                    <h2>{{ object.title }}</h2>
                    <p class="byline text-center">By {{ object.writer.first_name }} {{ object.writer.last_name }}</p>
                    <div>
                        {{ object.split_content.0|safe }}
                    </div>
                    <div class="collapse" id="collapseExample">
                        {{ object.split_content.1|safe }}
                    </div>
                    <div class="collapser">
                        <a  class="" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Read more
                        </a>
                    </div>
                </div>
            </div>
            {% get_live_episodes as live_episodes %}
            {% get_unreleased_episodes as unreleased_episodes %}
            <div class="col-md-6 homepage-episodes">
                <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'" >
                    <div class="new-episode col-md-6">
                        {% if live_episodes.0.homepage_thumbnail %}
                            <img src="{{ live_episodes.0.homepage_thumbnail.url }}" class=" wow slideInRight" data-wow-duration="2s" alt="{{ live_episodes.0.name }}"/>
                        {% endif %}
                    </div>
                    <div class="episode-text col-md-6">
                        <div>
                            {{ live_episodes.0.homepage_blurb|safe }}
                        </div>
                    </div>
                </div>
                <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'">
                    <div class="episode-text col-md-6">
                        <div>
                            {{ unreleased_episodes.0.homepage_blurb|safe }}
                        </div>
                    </div>
                    <div class="next-episode col-md-6">
                        {% if unreleased_episodes.0.homepage_thumbnail %}
                            <img src="{{ unreleased_episodes.0.homepage_thumbnail.url }}" class=" wow slideInRight" data-wow-duration="2s" alt="{{ unreleased_episodes.0.name }}"/>
                        {% endif %}
                    </div>
                </div>
                <div class="hidden-episodes hidden">
                    <div class="col-md-6">
                        {% for episode in live_episodes %}
                            {% if forloop.counter > 0  and episode.dropdown_thumbnail and not forloop.counter|divisibleby:2 %}
                                <a href="{{ episode.get_absolute_url }}"><img src="{{ episode.dropdown_thumbnail.url }}" alt="{{ episode.name }}"/></a>
                            {% endif %}
                        {% endfor %}
                        {% for episode in unreleased_episodes %}
                            {% if forloop.counter > 0  and episode.dropdown_thumbnail and not forloop.counter|divisibleby:2 %}
                                <a href="{{ episode.get_absolute_url }}"><img src="{{ episode.dropdown_thumbnail.url }}" alt="{{ episode.name }}"/></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {% for episode in live_episodes %}
                            {% if forloop.counter > 0  and episode.dropdown_thumbnail and forloop.counter|divisibleby:2 %}
                                <a href="{{ episode.get_absolute_url }}"><img src="{{ episode.dropdown_thumbnail.url }}" alt="{{ episode.name }}"/></a>
                            {% endif %}
                        {% endfor %}
                        {% for episode in unreleased_episodes %}
                            {% if forloop.counter > 0  and episode.dropdown_thumbnail and forloop.counter|divisibleby:2 %}
                                <a href="{{ episode.get_absolute_url }}"><img src="{{ episode.dropdown_thumbnail.url }}" alt="{{ episode.name }}"/></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature">
        <div class="wrap">
            <h2 class="lg_title"><span class="cursive-font">Someone come to mind?</span></h2>
            <h2 class="lg_title">nominate a Radiant Human</h2>
            <a class="btn btn-warning" href="#subscribe_form">Show Me How</a>
        </div>
    </div>
{% endblock content %}
