{% extends 'base.html' %}

{% block hero %}
    <div class="video-wrapper">
        {% include 'includes/video.html' with object=object auto_play=True loop=True %}
        <div class="close">X</div>
    </div>
{% endblock %}

{% block content %}
    <div class="row page">
        <div class="col-md-9 article">
            <h2>{{ object.title }}</h2>
            {{ object.process_content|safe }}
        </div>
        <div class="col-md-3">
            <h3>Mission Statement</h3>
            <p>We're the Radiant Project.</p>
            {% include 'includes/social.html' %}
            <h3>Recent Episodes</h3>
            {% include 'includes/latests_episodes.html' %}
        </div>
    </div>
{% endblock content %}
