{% extends 'base.html' %}

{% load profiles_tags %}
{% load static from staticfiles %}

{% block body_class %}homepage{% endblock %}

{% block extra-js %}
    <script src="{% static 'libs/parse-query.js' %}"></script>
    <script src="{% static 'js/bootstrap-youtube.js' %}"></script>
{% endblock %}

{% block hero %}
    <div id="youtube-wrapper" data-href="https://www.youtube.com/watch?v=TFZN1lMp5Hk">
        <div class="iframe-wrapper">

        </div>
        <div class="close">X</div>
    </div>
    <div class="video-wrapper" data-href="https://www.youtube.com/watch?v=TFZN1lMp5Hk">
        {% include 'includes/video.html' with object=object auto_play=True loop=True %}
        <div class="play"><i class="fa fa-play-circle-o"></i> <br><span>View Trailer</span></div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        {% get_latest_episodes as episodes %}
        <div class="row">
            <div class="col-md-6 article">
                <div class="article-inner-wrapper wow slideInLeft" data-wow-duration="2s">
                    <h2>{{ object.title }}</h2>
                    <p class="byline text-center">By {{ object.writer.first_name }} {{ object.writer.last_name }}</p>
                    <div>
                        {{ object.split_content.0|safe }}
                    </div>
                    <div class="collapse" id="collapseExample">
                        {{ object.split_content.1|safe }}
                    </div>
                    <div class="collapser">
                        <a  class="" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Read more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 homepage-episodes">
                <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'" >
                    <div class="row">
                        <div class="new-episode col-md-6">
                            <img src="{{ episodes.0.homepage_thumbnail.url }}" class=" wow slideInRight" data-wow-duration="2s"/>
                        </div>
                        <div class="episode-text col-md-6">
                            {{ episodes.1.homepage_blurb|safe }}
                        </div>
                    </div>
                </div>
                <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'">
                    <div class="row">
                        <div class="next-text col-md-6">
                            {{ episodes.0.homepage_blurb|safe }}
                        </div>
                        <div class="next-episode col-md-6">
                            <img src="{{ episodes.1.homepage_thumbnail.url }}" class=" wow slideInDown" data-wow-duration="2s"/>
                        </div>
                    </div>
                </div>
                <div class="hidden-episodes hidden">
                    <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'" >
                        <div class="new-episode pull-left">
                            <img src="{{ episodes.0.homepage_thumbnail.url }}" class=" wow slideInRight" data-wow-duration="2s"/>
                        </div>
                        <div class="episode-text pull-left">
                            {{ episodes.0.homepage_blurb|safe }}
                        </div>
                    </div>
                    <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'">
                        <div class="next-episode pull-right">
                            <img src="{{ episodes.1.homepage_thumbnail.url }}" class=" wow slideInDown" data-wow-duration="2s"/>
                        </div>
                        <div class="episode-text pull-right">
                            {{ episodes.1.homepage_blurb|safe }}
                        </div>
                    </div>
                    <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'" >
                        <div class="new-episode pull-left">
                            <img src="{{ episodes.0.homepage_thumbnail.url }}" class=" wow slideInRight" data-wow-duration="2s"/>
                        </div>
                        <div class="episode-text pull-left">
                            {{ episodes.0.homepage_blurb|safe }}
                        </div>
                    </div>
                    <div class="episode clearfix" onclick="window.location='{{ episodes.0.get_absolute_url }}'">
                        <div class="next-episode pull-right">
                            <img src="{{ episodes.1.homepage_thumbnail.url }}" class=" wow slideInDown" data-wow-duration="2s"/>
                        </div>
                        <div class="episode-text pull-right">
                            {{ episodes.1.homepage_blurb|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature">
        <div class="wrap">
            <h2 class="lg_title"><span class="cursive-font">Someone come to mind?</span></h2>
            <h2 class="lg_title">nominate a Radiant Human</h2>
            <a class="btn btn-warning" href="#subscribe_form">Show Me How</a>
        </div>
    </div>
{% endblock content %}
