{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% include 'includes/ogtags.html' %}
    {% block extra-meta %}{% endblock %}
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/site.less' %}">
    <script src="{% static 'libs/less.js' %}"></script>
    {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/site.less' %}">
    {% endcompress %}
    {% endif %}
    {% block extra-css %}{% endblock %}
    {% compress js %}
    <script src="{% static 'libs/modernizr.js' %}"></script>
    {% endcompress %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="header">
        {% include 'includes/header.html' %}
    </div>
    <div class="hero-wrapper">
        {% block hero %}
        {% endblock hero %}
    </div>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% include 'includes/footer.html' %}
    </div>
{#    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>#}

    {% compress js %}
    <script src="{% static 'libs/jquery.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% endcompress %}
    {% block extra-js %}{% endblock %}
</body>
</html>
