{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="radiant">
<head>
    <meta charset="utf-8">
    <title>{% block title %}The Radiant Project{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>

    <link rel="icon" href="{% static 'images/cropped-radiant-32x32.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'images/cropped-radiant-180x180.png' %}" sizes="180x180" />
    <link rel="icon" href="{% static 'images/cropped-radiant-192x192.png' %}" sizes="192x192" />
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% include 'includes/ogtags.html' %}
    {% block extra-meta %}{% endblock %}
    {% if debug %}
        <link rel="stylesheet" href="{% static 'libs/social-plugin/src/jquery.floating-social-share.css' %}">
        <link rel="stylesheet" href="{% static 'libs/textillate/assets/animate.css' %}">
        <link rel="stylesheet" href="{% static 'libs/wow/css/libs/animate.css' %}">
        <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/site.less' %}">
        <script src="{% static 'libs/less.js' %}"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'libs/social-plugin/src/jquery.floating-social-share.css' %}">
            <link rel="stylesheet" href="{% static 'libs/textillate/assets/animate.css' %}">
            <link rel="stylesheet" href="{% static 'libs/wow/css/libs/animate.css' %}">
            <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/site.less' %}">
        {% endcompress %}
    {% endif %}
    {% block extra-css %}{% endblock %}
    {% compress js %}
    <script src="{% static 'libs/modernizr.js' %}"></script>
    {% endcompress %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="page-wrapper">
        <div class="header">
            {% include 'includes/header.html' %}
        </div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }} bg-success text-center"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="hero-wrapper">
            {% block hero %}
            {% endblock hero %}
        </div>
        <div class="">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            {% include 'includes/footer.html' %}
        </div>

        <div id="youtube-wrapper" data-href="https://www.youtube.com/watch?v=TFZN1lMp5Hk">
            <div class="close">X</div>
        </div>

        {% compress js %}
        <script src="{% static 'libs/jquery.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'libs/textillate/assets/jquery.fittext.js' %}"></script>
        <script src="{% static 'libs/textillate/assets/jquery.lettering.js' %}"></script>
        <script src="{% static 'libs/textillate/jquery.textillate.js' %}"></script>
        <script src="{% static 'libs/visible.js' %}"></script>
        <script src="{% static 'libs/social-plugin/src/jquery.floating-social-share.js' %}"></script>
        <script src="{% static 'libs/wow/dist/wow.js' %}"></script>
        <script src="{% static 'js/site.js' %}"></script>
        {% endcompress %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="{% static 'js/angular-app.js' %}"></script>
        {% block extra-js %}{% endblock %}
    </div>
</body>
</html>
