{% extends 'base.html' %}

{% load static from staticfiles %}
{% load profiles_tags %}

{% block body_class %}radiant-human{% endblock %}

{% block content %}
    <div class="container radiant-youtube">
        {% if object.is_live %}
            <div class="youtube-wrapper">
                {% if object.youtube_url %}
                    <iframe width="1280" height="720" src="{{ object.youtube_url|youtube_embed }}" frameborder="0" allowfullscreen></iframe>
                {% else %}

                {% endif %}
            </div>
        {% else %}
            {# Let the user know that the episode will be aired soon #}
            {% if object.thumbnail %}
                <img src="{{ object.thumbnail.url }}"/>
            {% else %}
                <h2>This episode will be released on {{ object.release_date }} </h2>
            {% endif %}
        {% endif %}
    </div>

    {% if object.is_live %}
    <div class="container article-wrapper-outer">
        <div class="row">
            <div class="col-md-8 article-inner-wrapper">
                <h2>{{object.title }}</h2>
                <p class="byline text-center">By {{ object.writer.first_name }} {{ object.writer.last_name }}</p>
                {% include 'includes/read-more.html' with content=object.content button_text="Read More" %}
            </div>
            <div class="col-md-4 film-strip">
                {% if object.filmstrip_image %}
                    <img src="{{ object.filmstrip_image.url }}" />
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
