{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body_class %}radiant-human{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'libs/coverflow/start/load/skin_classic_black.css' %}">
{#    <link rel="stylesheet" type="text/css" media="all" href="{% static 'libs/coverflow/start/load/skin_classic_black.css' %}">#}
{% endblock %}
{% block extra-js %}
    <script src="{% static 'libs/coverflow/start/java/FWDSimple3DCoverflow.js' %}"></script>
    <!-- Setup the coverflow (all settings are explained in detail in the documentation files) -->
    <script type="text/javascript">
        var coverflow;

        FWDS3DCovUtils.onReady(function()
        {
            coverflow = new FWDSimple3DCoverflow(
                {
                    //required settings
                    coverflowHolderDivId:"myDiv",
                    coverflowDataListDivId:"coverflowData",
                    displayType:"fluidwidth",
                    autoScale:"no",
                    coverflowWidth:940,
                    coverflowHeight:650,
                    skinPath:"/static/libs/coverflow/start/load/skin_black",

                    //main settings
                    backgroundColor:"#000000",
                    backgroundImagePath:"",
                    backgroundRepeat:"repeat-x",
                    showDisplay2DAlways:"no",
                    coverflowStartPosition:"center",
                    coverflowTopology:"dualsided",
                    coverflowXRotation:0,
                    coverflowYRotation:0,
                    numberOfThumbnailsToDisplayLeftAndRight:"all",
                    infiniteLoop:"no",
                    rightClickContextMenu:"developer",
                    fluidWidthZIndex:1000,

                    //thumbnail settings
                    thumbnailWidth:750,
                    thumbnailHeight:500,

                    thumbnailXOffset3D:86,
                    thumbnailXSpace3D:78,
                    thumbnailZOffset3D:200,
                    thumbnailZSpace3D:93,
                    thumbnailYAngle3D:70,
                    thumbnailXOffset2D:20,
                    thumbnailXSpace2D:30,
                    thumbnailHoverOffset:100,
                    thumbnailBorderSize:0,
                    thumbnailBackgroundColor:"#FFFFFF",
                    thumbnailBorderColor1:"#FFFFFF",
                    thumbnailBorderColor2:"#FFFFFF",
                    transparentImages:"no",
                    thumbnailsAlignment:"center",
                    maxNumberOfThumbnailsOnMobile:13,
                    showThumbnailsGradient:"yes",
                    thumbnailGradientColor1:"rgba(0, 0, 0, 0)",
                    thumbnailGradientColor2:"rgba(0, 0, 0, 1)",
                    showText:"yes",
                    textOffset:10,
                    showThumbnailBoxShadow:"yes",
                    thumbnailBoxShadowCss:"0px 2px 2px #111111",
                    showTooltip:"no",
                    dynamicTooltip:"yes",
                    showReflection:"yes",
                    reflectionHeight:60,
                    reflectionDistance:0,
                    reflectionOpacity:.4,

                    //controls settings
                    slideshowDelay:5000,
                    autoplay:"no",
                    disableNextAndPrevButtonsOnMobile:"no",
                    controlsMaxWidth:700,
                    slideshowTimerColor:"#FFFFFF",
                    controlsPosition:"bottom",
                    controlsOffset:15,
                    showPrevButton:"no",
                    showNextButton:"no",
                    showSlideshowButton:"no",
                    showScrollbar:"no",
                    disableScrollbarOnMobile:"yes",
                    enableMouseWheelScroll:"yes",
                    scrollbarHandlerWidth:200,
                    scrollbarTextColorNormal:"#000000",
                    scrollbarTextColorSelected:"#FFFFFF",
                    addKeyboardSupport:"yes",

                    //categories settings
                    showCategoriesMenu:"no",
                    startAtCategory:1,
                    categoriesMenuMaxWidth:700,
                    categoriesMenuOffset:25,
                    categoryColorNormal:"#999999",
                    categoryColorSelected:"#FFFFFF",

                    //lightbox settings
                    addLightBoxKeyboardSupport:"yes",
                    showLightBoxNextAndPrevButtons:"yes",
                    showLightBoxZoomButton:"yes",
                    showLightBoxInfoButton:"yes",
                    showLightBoxSlideShowButton:"yes",
                    showLightBoxInfoWindowByDefault:"no",
                    slideShowAutoPlay:"no",
                    lightBoxVideoAutoPlay:"no",
                    lightBoxVideoWidth:640,
                    lightBoxVideoHeight:480,
                    lightBoxIframeWidth:800,
                    lightBoxIframeHeight:600,
                    lightBoxBackgroundColor:"#000000",
                    lightBoxInfoWindowBackgroundColor:"#FFFFFF",
                    lightBoxItemBorderColor1:"#fcfdfd",
                    lightBoxItemBorderColor2:"#e4FFe4",
                    lightBoxItemBackgroundColor:"#333333",
                    lightBoxMainBackgroundOpacity:.8,
                    lightBoxInfoWindowBackgroundOpacity:.9,
                    lightBoxBorderSize:0,
                    lightBoxBorderRadius:0,
                    lightBoxSlideShowDelay:4000
                });

            coverflow.addListener(FWDSimple3DCoverflow.IS_API_READY, onApiReady);
            coverflow.addListener(FWDSimple3DCoverflow.THUMB_CHANGE, onThumbChange);
{#            coverflow.addListener(FWDSimple3DCoverflow.CATEGORY_CHANGE, onCategoryChange);#}
        });

        function gotoNextCategory()
        {
            coverflow.switchCategory(coverflow.getCurrentCategoryId() + 1);
        }

        function gotoNextThumb()
        {
            coverflow.gotoThumb(coverflow.getCurrentThumbId() + 1);
        }

        function gotoPrevThumb()
        {
            coverflow.gotoThumb(coverflow.getCurrentThumbId() - 1);
        }

        function onApiReady()
        {
            coverflow.gotoThumb(0);
            console.log("api ready");
        }

        function onThumbChange(ev)
        {
{#            debugger;#}
            console.log("thumb id: " + ev.id);
        }
    </script>
{% endblock %}
{% block hero %}
    <div class="">
        <!-- div used as a holder for the coverflow -->
        <div id="myDiv"></div>

        <!-- coverflow data -->
        <ul id="coverflowData" style="display: none;">

            <!-- category  -->
            <ul data-cat="+ Category one">
                {% for radiant_human in object_list %}
                    {% if radiant_human.thumbnail %}
                        <ul>
                            <li data-type="link" data-url="http://www.google.com" data-target="_blank"></li>
                            <li data-thumbnail-path="{{ radiant_human.thumbnail.url }}"></li>
                            <li data-thumbnail-text="">
                                <p class="largeLabel">{{ radiant_human.name }}</p>
                                <p class="smallLabel">{{ radiant_human.slider_description }}</p>
                            </li>
                            <li data-info="">
                                <p class="mediaDescriptionHeader">CUSTOM PRESS THUMBNAIL ACTION.</p>
                                <p class="mediaDescriptionText">When a thumbnail is pressed the coverflow can open a browser window or the lightbox.</p>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
{#                <ul>#}
{#                    <li data-type="media" data-url="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">RESPONSIVE LAYOUT</p>#}
{#                        <p class="smallLabel">The coverflow has responsive layout.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">RESPONSIVE LAYOUT.</p>#}
{#                        <p class="mediaDescriptionText">The coverflow has responsive layout, basically it has an adaptable layout which makes it the perfect candidate for any type of project.</p>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <ul>#}
{#                    <li data-type="media" data-width="640" data-height="420" data-url="http://vimeo.com/83759300"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">2D FALLBACK FOR OLDER BROWSERS LIKE IE7/8</p>#}
{#                        <p class="smallLabel">On a older browser that does not have 3D support the coverflow will display in a 2D format.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">2D FALLBACK FOR OLDER BROWSERS LIKE IE7/8.</p>#}
{#                        <p class="mediaDescriptionText">On a older browser that does not have 3D support the coverflow will display in a 2D format..</p>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <ul>#}
{#                    <li data-type="link" data-url="http://www.google.com" data-target="_blank"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">GREAT PERFORMANCE ON MOBILE DEVICES</p>#}
{#                        <p class="smallLabel">This coverflow is using the GPU (hardware acceleration).</p>#}
{#                    </li>#}
{#                </ul>#}

{#                <ul>#}
{#                    <li data-type="media" data-width="640" data-height="420" data-url="http://www.youtube.com/watch?v=89rnIwCURC8"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">VIMEO AND YOUTUBE SUPPORT</p>#}
{#                        <p class="smallLabel">The coverflow lightbox can load and play videos from youtube or vimeo easily.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">VIMEO AND YOUTUBE SUPPORT.</p>#}
{#                        <p class="mediaDescriptionText">All you have to do is to include the link from YouTube or Vimeo video that you want to display and the lightbox will display and play your video. The size (width and height) of each video can be set easily.</p>#}
{#                    </li>#}
{#                </ul>#}
{#                <ul>#}
{#                    <li data-type="link" data-url="http://www.google.com" data-target="_blank"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">CUSTOM PRESS THUMBNAIL ACTION</p>#}
{#                        <p class="smallLabel">When a thumbnail is pressed the coverflow can open a browser window or the lightbox.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">CUSTOM PRESS THUMBNAIL ACTION.</p>#}
{#                        <p class="mediaDescriptionText">When a thumbnail is pressed the coverflow can open a browser window or the lightbox.</p>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <ul>#}
{#                    <li data-type="media" data-url="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">RESPONSIVE LAYOUT</p>#}
{#                        <p class="smallLabel">The coverflow has responsive layout.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">RESPONSIVE LAYOUT.</p>#}
{#                        <p class="mediaDescriptionText">The coverflow has responsive layout, basically it has an adaptable layout which makes it the perfect candidate for any type of project.</p>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <ul>#}
{#                    <li data-type="media" data-width="640" data-height="420" data-url="http://vimeo.com/83759300"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">2D FALLBACK FOR OLDER BROWSERS LIKE IE7/8</p>#}
{#                        <p class="smallLabel">On a older browser that does not have 3D support the coverflow will display in a 2D format.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">2D FALLBACK FOR OLDER BROWSERS LIKE IE7/8.</p>#}
{#                        <p class="mediaDescriptionText">On a older browser that does not have 3D support the coverflow will display in a 2D format..</p>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <ul>#}
{#                    <li data-type="link" data-url="http://www.google.com" data-target="_blank"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">GREAT PERFORMANCE ON MOBILE DEVICES</p>#}
{#                        <p class="smallLabel">This coverflow is using the GPU (hardware acceleration).</p>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#                <ul>#}
{#                    <li data-type="media" data-width="640" data-height="420" data-url="http://www.youtube.com/watch?v=89rnIwCURC8"></li>#}
{#                    <li data-thumbnail-path="http://placehold.it/750x500"></li>#}
{#                    <li data-thumbnail-text="">#}
{#                        <p class="largeLabel">VIMEO AND YOUTUBE SUPPORT</p>#}
{#                        <p class="smallLabel">The coverflow lightbox can load and play videos from youtube or vimeo easily.</p>#}
{#                    </li>#}
{#                    <li data-info="">#}
{#                        <p class="mediaDescriptionHeader">VIMEO AND YOUTUBE SUPPORT.</p>#}
{#                        <p class="mediaDescriptionText">All you have to do is to include the link from YouTube or Vimeo video that you want to display and the lightbox will display and play your video. The size (width and height) of each video can be set easily.</p>#}
{#                    </li>#}
{#                </ul>#}
            </ul>
            <!-- end  -->
        </ul>
    </div>
{% endblock %}
