{% extends 'base.html' %}

{% load static from staticfiles %}

{% block body_class %}radiant-human{% endblock %}

{% block content %}
    <div class="container radiant-youtube">
        {% if object.is_live %}
            <div class="youtube-wrapper">
                <iframe width="1280" height="720" src="{{ object.youtube_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% else %}
            {# Let the user know that the episode will be aired soon #}
            {% if object.thumbnail %}
                <img src="{{ object.thumbnail.url }}"/>
            {% else %}
                <h2>This episode will be released on {{ object.release_date }} </h2>
            {% endif %}
        {% endif %}
    </div>

    {% if object.is_live %}
    <div class="container article-wrapper-outer">
        <div class="row">
            <div class="col-md-8 article-inner-wrapper">
                <h2>{{object.name }}</h2>
                <p class="byline text-center">By {{ object.writer.first_name }} {{ object.writer.last_name }}</p>

                <div class="article-wrapper">
                    {{ object.process_content.0|safe }}
                    {{ object.process_content.1|safe }}
                </div>
            </div>
            <div class="col-md-4 film-strip">
                {% if object.filmstrip_image %}
                    <img src="{{ object.filmstrip_image.url }}" />
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
