{% extends 'base.html' %}

{% block body_class %}radiant-human{% endblock %}

{% block hero %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="youtube-wrapper">
                    <iframe width="1280" height="720" src="{{ object.youtube_url }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                {{ object.process_content.0|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ object.process_content.1|safe }}
            </div>
        </div>
    </div>
{% endblock %}
