{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body_class %}radiant-human{% endblock %}
{% block ng_html %}ng-app="radiant"{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'libs/coverflow/start/load/skin_classic_black.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/angular-carousel-3d/dist/carousel-3d.css' %}">
{% endblock %}

{% block extra-js %}
    <script type="text/javascript">
        var slides = {{ episodes|safe }};
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'libs/angular-carousel-3d/bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'libs/angular-carousel-3d/bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
    <script src="{% static 'libs/angular-carousel-3d/bower_components/angular-swipe/dist/angular-swipe.js' %}"></script>
    <script src="{% static 'libs/angular-carousel-3d/dist/carousel-3d.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}

{% block hero %}
    {% verbatim %}
    <div class="slider-app" ng-controller="AppController as app">
        <div class="slider-wrapper">
            <carousel3d
                    ng-model="app.slides"
                    options="app.options"
                    on-selected-click="app.selectedClick(index)"
                    on-slide-change="app.slideChanged(index)"
                    on-last-slide="app.lastSlide(index)"
                    on-before-change="app.beforeChange(index)">

                <carousel3d-slide ng-repeat="slide in app.slides track by $index">
                    <video ng-attr-poster="" loop id="video_{{ slide.pk }}">
                        <source ng-src="{{ app.trustSrc(slide.fields.mp4_url) }}" type="video/mp4" media="all and (max-width:480px)">
                        <p>Your browser doesn't support HTML5 video. <a href="https://s3.amazonaws.com/radiantmedia/kuala_lumpur_timelapse.mp4">Download this video instead.</a></p>
                    </video>
                </carousel3d-slide>
            </carousel3d>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
